<body data-ng-app="APIModule">
    <div ng-controller="APIController">
        <div class="table-responsive">
            <table class="table striped" border="1">
                <tr>
                    <th>Event</th>
                    <th>Match</th>
               </tr>
                <tr>
                    <th>EventName</th>
                    <th>MatchID</th>
                    <th>MatchName</th>
                    <th>MatchType</th>
                    <th>MatchStartDate</th>
                </tr>
                <tbody data-ng-repeat="match in matches.data">
                    <tr>
                        <td>{{match.Event}}</td>
                        <td>{{match.Match.ID}}</td>
                        <td>{{match.Match.Name}}</td>
                        <td>{{match.Match.MatchType}}</td>
                        <td>{{match.Match.StartDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/module.js"></script>


